/* Paleta base */
$carmin: #c8102e;
$texto: #111;
$branco: #fff;

/* Cinzas */
$cinza-150: #f4f4f4;
$cinza-200: #e0e0e0;

/* Layout */
$container-max: 1200px;
$radius: 12px;
$shadow: 0 8px 24px rgba(0,0,0,.06);
