@use "../../styles/variables" as *;
.card {
  background: $branco; border:1px solid $cinza-200; border-radius: $radius;
  padding: 1rem; box-shadow: $shadow; display:flex; flex-direction:column; gap:.5rem;
  h3 { color: $texto; }
  p { color:#565b61; }
  &__icon { width: 44px; height:44px; border-radius:12px; background:$cinza-150; display:grid; place-items:center; }
}
